.btn_auto{letter-spacing: 2px; cursor: pointer; background: url("../../resource/imgs/repeat_bg.png") 0 0 repeat-x; border: #949494 solid 1px; line-height: 24px; font-size: 12px; font-weight: bold; padding: 0 10px;
 margin-right:3px;}
.tac{ text-align:center;}
.tar{ text-align:right;}